CalculatorApp/bin/Debug/net9.0/Avalonia.Base.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Controls.ColorPicker.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Controls.DataGrid.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Controls.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.DesignerSupport.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Desktop.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Diagnostics.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Dialogs.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Fonts.Inter.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.FreeDesktop.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Markup.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Markup.Xaml.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Metal.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.MicroCom.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Native.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.OpenGL.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Remote.Protocol.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Skia.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Themes.Fluent.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Themes.Simple.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Vulkan.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.Win32.dll
CalculatorApp/bin/Debug/net9.0/Avalonia.X11.dll
CalculatorApp/bin/Debug/net9.0/CalculatorApp
CalculatorApp/bin/Debug/net9.0/CalculatorApp.deps.json
CalculatorApp/bin/Debug/net9.0/CalculatorApp.dll
CalculatorApp/bin/Debug/net9.0/CalculatorApp.pdb
CalculatorApp/bin/Debug/net9.0/CalculatorApp.runtimeconfig.json
CalculatorApp/bin/Debug/net9.0/CommunityToolkit.Mvvm.dll
CalculatorApp/bin/Debug/net9.0/HarfBuzzSharp.dll
CalculatorApp/bin/Debug/net9.0/MicroCom.Runtime.dll
CalculatorApp/bin/Debug/net9.0/SkiaSharp.dll
CalculatorApp/bin/Debug/net9.0/Tmds.DBus.Protocol.dll
CalculatorApp/bin/Debug/net9.0/runtimes/linux-arm/native/libHarfBuzzSharp.so
CalculatorApp/bin/Debug/net9.0/runtimes/linux-arm/native/libSkiaSharp.so
CalculatorApp/bin/Debug/net9.0/runtimes/linux-arm64/native/libHarfBuzzSharp.so
CalculatorApp/bin/Debug/net9.0/runtimes/linux-arm64/native/libSkiaSharp.so
CalculatorApp/bin/Debug/net9.0/runtimes/linux-musl-x64/native/libHarfBuzzSharp.so
CalculatorApp/bin/Debug/net9.0/runtimes/linux-musl-x64/native/libSkiaSharp.so
CalculatorApp/bin/Debug/net9.0/runtimes/linux-x64/native/libHarfBuzzSharp.so
CalculatorApp/bin/Debug/net9.0/runtimes/linux-x64/native/libSkiaSharp.so
CalculatorApp/bin/Debug/net9.0/runtimes/osx/native/libAvaloniaNative.dylib
CalculatorApp/bin/Debug/net9.0/runtimes/osx/native/libHarfBuzzSharp.dylib
CalculatorApp/bin/Debug/net9.0/runtimes/osx/native/libSkiaSharp.dylib
CalculatorApp/bin/Debug/net9.0/runtimes/win-arm64/native/av_libglesv2.dll
CalculatorApp/bin/Debug/net9.0/runtimes/win-arm64/native/libHarfBuzzSharp.dll
CalculatorApp/bin/Debug/net9.0/runtimes/win-arm64/native/libSkiaSharp.dll
CalculatorApp/bin/Debug/net9.0/runtimes/win-x64/native/av_libglesv2.dll
CalculatorApp/bin/Debug/net9.0/runtimes/win-x64/native/libHarfBuzzSharp.dll
CalculatorApp/bin/Debug/net9.0/runtimes/win-x64/native/libSkiaSharp.dll
CalculatorApp/bin/Debug/net9.0/runtimes/win-x86/native/av_libglesv2.dll
CalculatorApp/bin/Debug/net9.0/runtimes/win-x86/native/libHarfBuzzSharp.dll
CalculatorApp/bin/Debug/net9.0/runtimes/win-x86/native/libSkiaSharp.dll
CalculatorApp/obj/Debug/net9.0/apphost
CalculatorApp/obj/Debug/net9.0/Calculat.C0507999.Up2Date
CalculatorApp/obj/Debug/net9.0/CalculatorApp.AssemblyInfo.cs
CalculatorApp/obj/Debug/net9.0/CalculatorApp.AssemblyInfoInputs.cache
CalculatorApp/obj/Debug/net9.0/CalculatorApp.csproj.CoreCompileInputs.cache
CalculatorApp/obj/Debug/net9.0/CalculatorApp.csproj.FileListAbsolute.txt
CalculatorApp/obj/Debug/net9.0/CalculatorApp.dll
CalculatorApp/obj/Debug/net9.0/CalculatorApp.genruntimeconfig.cache
CalculatorApp/obj/Debug/net9.0/CalculatorApp.pdb
CalculatorApp/obj/Debug/net9.0/CalculatorApp.sourcelink.json
CalculatorApp/obj/Debug/net9.0/Avalonia/CalculatorApp.dll
CalculatorApp/obj/Debug/net9.0/Avalonia/CalculatorApp.pdb
CalculatorApp/obj/Debug/net9.0/Avalonia/references
CalculatorApp/obj/Debug/net9.0/ref/CalculatorApp.dll
CalculatorApp/obj/Debug/net9.0/refint/CalculatorApp.dll
CalculatorApp/obj/Debug/net9.0/refint/Avalonia/CalculatorApp.dll
CalculatorApp/obj/Debug/net9.0/CalculatorApp.AssemblyInfoInputs.cache
.DS_Store
